div.play-content {
    position:absolute;
    top: 10%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(10, 174, 250);
}

div.play-content div.music-info {
    color:royalblue;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgb(10, 174, 250);
}

div.music-info > div {
    margin-left: 10%;
}

div.music-info div.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
}

div.image img {
    height: 80%;
    width: 50%;
    border-radius: 50%;
    opacity: 75%;
}

audio {
    opacity: 75%;
    
}

div.music-info div.basic-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 20%;
    color: inherit;
}

div.basic-info a {
    padding-left: 1em;
    padding-right: 1em;
    background-color: aquamarine;
    border: 1px ridge skyblue;
}

div.lyric-and-play-list {
    display: flex;
    width: 100%;
    height: 60%;
}

div.lyric-and-play-list textarea {
    color: red;
    font-size: 20px;
    height: 100%;
    width: 50%;
    text-align: center;
    resize: none;
    background-image: none;
    background-color: inherit;
    border-style: none;
    border-right: 2px solid rgb(10, 174, 250);
}

div.lyric-and-play-list div.play-list{
    color: whitesmoke;
    background-color:inherit;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

div.play-list > div:first-child{
    background-color: inherit;
    font-size: 20px;
}

div.play-list > div{
    background-color: inherit;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgb(10, 174, 250);
}

div.play-list > div a {
    color: inherit;
}

div.play-list > div > div {
    width: 30%;
    margin-left: 5%;
}

div.play-list div.current-playing{
    background-color: royalblue;
}