<!DOCTYPE html>

<head>
    {% load static %}
    <title>奇猫音乐</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block link %}
    {% endblock %}
</head>

<body>
    <div class="top">
        <h1><a href="{% url 'index:index' %}">奇猫音乐</a></h1>
        <form id="search_form" action="{% url 'search:search' 1 %}" method="POST">
            {% csrf_token %}
            <div class="search">
                <input name="kword" type="text" name="search" placeholder="搜索音乐">
                <input type="submit" name="search-bt" value="搜索">                
           </div>
        </form>
        <div class="nav-bar">
            <div><a href="{% url 'index:index' %}">首页</a></div>
            <div><a href="{% url 'ranking:ranking' %}">歌曲排行</a></div>
            <div><a href="javascript:;">用户中心</a></div>
        </div>
    </div>


    {% block content %}
    <div class="content">
        <div class="categories">
            <div>歌曲分类</div>
            {% for label in labels %}
            <div><a href="{% url 'ranking:ranking' %}?type={{label.id}}">{{label}}</a></div>
            {% endfor %}
        </div>

        <div class="rotate-image">
            <a href="javascript:;"><img src="../media/songImg/lizhi.jpg" alt="none"></a>
        </div>

        <div class="board">
            <div class="board-title">热门歌曲</div>
            {% for p in popular %}
            <div><span>{{ forloop.counter }}</span><a href="{% url 'play:play' p.song.id %}">{{ p.song.name }}</a></div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

    {% block bottom %}
    <div class="hot-search">
        <div>热门搜索</div>
        {% for s in searchs %}
        <div>
            <img src="{{ s.song.img.url }}">
            <div class="hot-song-list">
                <div>{{ s.song.name }}</div>
                <div>{{ s.song.singer }}</div>
                <div>搜索次数：{{ s.search }}</div>
                <div><a href="{% url 'play:play' s.song.id %}">去听听</a></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="hot-music">
        <div class="hot-bar">
            <div><a href="javascript:;">热门下载</a></div>
        </div>
        <div class="hot-music-content">
            {% for d in downloads %}
            <div class="hot-music-list">
                <img src="{{ d.song.img.url }}">
                <div>{{ d.song.name }}</div>
                <div>{{ d.song.singer }}</div>
                <div><a href="{% url 'play:play' d.song.id %}">去听听</a></div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

</body>