{% extends "base.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/play.css' %}">
{% endblock %}
{% block top %}
    <div class="top">
        <h1><a href="{% url 'index:index' %}" target="_blank">奇猫音乐</a></h1>
        <form id="search_form" action="{% url 'search:search' 1 %}" method="POST">
            {% csrf_token %}
            <div class="search">
                <input name="kword" type="text" name="search" placeholder="搜索音乐">
                <input type="submit" name="search-bt" value="搜索">
            </div>
        </form>
        <div class="nav-bar">
            <div><a href="{% url 'index:index' %}" target="_blank">首页</a></div>
            <div><a href="{% url 'ranking:ranking' %}" target="_blank">歌曲排行</a></div>
            <div><a href="javascript:;" target="_blank">用户中心</a></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="play-content">
    <div class="music-info">
        <div class="image">
            <img src="{{ song.img.url }}">
        </div>
        <div class="basic-info">
            <h2>{{ song.name }}</h2>
            <div>歌手： {{ song.singer }}</div>
            <div>专辑： {{ song.album }}</div>
            <div>类型：{{ song.label }}</div>
            <div class="download_bt"><a href="{% url 'play:download' song.id %}" target="_blank">下载</a></div>
            <div class="comment_bt"><a href="{% url 'comment:comment' song.id %}" target="_blank">评论</a></div>
            <div><button id=next>下一首</button></div>
            <div><button id=pre>上一首</button></div>
        </div>
        <audio id="audio" src='{{ song.file.url }}' controls autoplay="true"></audio>
    </div>

    <div class="lyric-and-play-list">
        <textarea disabled="disabled">{{ lyrics }}</textarea>
        <div class="play-list">
            <div>当前播放列表</div>
            {% for item in play_list %}
            {% if item.id == song.id %}
            <script>
                var current_play_id = {{ forloop.counter }} - 1
            </script>
            <div class="current-playing">
                <div>{{item.name}}</div>
                <div>{{item.singer}}</div>
                <div>{{item.time}}</div>
            </div>
            {% else %}
            <div class="list-item">
                <div><a href="{% url 'play:play' item.id %}">{{item.name}}</a></div>
                <div>{{item.singer}}</div>
                <div>{{item.time}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
    var play_list = {{ play_list|safe }}
    console.log(play_list)
    next.onclick = function () {
        var id = (current_play_id + 1) % play_list.length
        window.location = "/play/" + play_list[id].id + ".html";
    }

    pre.onclick = function () {
        var id = (current_play_id + play_list.length - 1) % play_list.length
        window.location = "/play/" + play_list[id].id + ".html";
    }


    var audio = document.getElementById("audio")
    audio.addEventListener('ended', function () {
        next.onclick();
    }, false);


</script>
{% endblock %}


{% block bottom %}

{% endblock %}